includes:
    - phpstan-baseline.php
parameters:
  level: 9
  phpVersion: 80200
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  tmpDir: cache/phpstan/
  treatPhpDocTypesAsCertain: false
  paths:
    - src
  parallel:
    processTimeout: 720.0
    jobSize: 100
